@import '~react-pro-sidebar/dist/scss/styles.scss';
// Override default variables before the import
$body-bg: white  ;
// Import Bootstrap and its default variables

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');



body {
  margin: 0;
  height: 100vh;
  color: #353535 ;
  font-family: 'Roboto', sans-serif !important;
}

    footer  {
      margin-top: auto ;
      color: #888;
      text-align: center;
      a {
        text-decoration: none;
        color: #888 ;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  

.asideMenu{
  
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 270px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: red ; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 0px;
 
    @media only screen and (max-width: 600px) {
        width: 100px;
      }
 
}
.main{
    margin-left: 270px; /* Same as the width of the sidebar */
    padding: 30px;
    @media only screen and (max-width: 600px) {
        margin-left: 100px;;
      }
}